<div class="main-header" style="background: url(../../../assets/fred-heap-ErQCCYk7N2Q-unsplash.jpg); height: 45vw; ;">
    <div class="background-overlay text-white py-5">
        <div class="container">
            <div class="row d-flex h-100">
                <div class="col-sm-9 text-center justify-content-center align-self-center" style="margin-top: 10vw; margin-left: 7.5vw;">
                    <h1>
                        Your favourite site to search movies and series
                    </h1>
                    <p>Click here to begin your adventure</p>
                    <a routerLink="search" class="btn btn-outline-secondary btn-lg text-white">
                        Start to search
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>