<div class="container text-center">
    <h1>Details about your search</h1>
    <hr>
    <div class="row">
        <div class="col-sm">
            <img [src]="content.Poster" style="margin-left: 5vw;">
        </div>
        <div class="col-sm">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><h3>{{content.Title}}</h3></li>
                <li class="list-group-item">Released: {{content.Released}}</li>
                <li class="list-group-item">Runtime: {{content.Runtime}}</li>
                <li class="list-group-item">Genre: {{content.Genre}}</li>
                <li class="list-group-item">Actors: {{content.Actors}}</li>
            </ul>
        </div>
    </div>
    
    
</div>

